body {
    background-color: #C5E99B;
    min-height: 100vh;
}

a {
    color: white;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}   

h2 {
    font-size: 18px;
    text-align: center;
}

h3 {
    font-size: 23px;
}

.navbar {
    color: #394941;
    padding: 20px;
}

.logo {
    font-size: 25px;
}

.btn-sm {
    font-weight: 600;
    padding: 7px;
}

.btn-primary {
    background-color:#2f6349;
    border-color: #2f6349;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color:#1e4833;
    border-color: #1e4833;
    outline: none;
}

.row {
    gap: 1em;
}

.col {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    height: auto;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
    width: 50vw;
    padding: 2em;
    margin: auto;
}

#search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.list-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.search-product {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 1em;
    height: 10vw;
    width: 10vw;
    gap: 0.5em;
}

.product-btn {
    height: 5vh;
    width: 7vh;
    align-self: baseline;
}