body {
    background-color: #C5E99B;
    min-height: 100vh;
}

a {
    color: white;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}   

h2 {
    font-size: 18px;
    text-align: center;
}

h3 {
    font-size: 23px;
}

.navbar {
    color: #394941;
    padding: 20px;
}

.logo {
    font-size: 25px;
}

.btn-sm {
    font-weight: 600;
    padding: 7px;
}

.btn-primary {
    background-color:#2f6349;
    border-color: #2f6349;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color:#1e4833;
    border-color: #1e4833;
    outline: none;
}

.prev-step {
    background-color: #aeaeae;
    border-color: #909090;
}

.form-navigation {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.main-form {
    display: none;
}

.main-form.active{
    background-color: rgb(250, 250, 250);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50vw;
    padding: 2em;
    margin: auto;
    margin-top: 10vh;
}

.label {
    padding: 0 0 0.6em 0;
    margin-left: 0.5em;
}

.col input {
    margin-bottom: 1em;
}

.invalid {
    border: 1px solid rgb(175, 49, 49);
}